<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" lang="en">

<link rel="stylesheet" th:href="@{/webjars/bootstrap/4.4.1-1/css/bootstrap.css}" id="bootstrap-css"/>
<script th:src="@{/webjars/jquery/3.5.0/jquery.js}"></script>
<script th:src="@{/webjars/bootstrap/4.4.1-1/js/bootstrap.js}"></script>
<link rel="stylesheet" th:href="@{/webjars/font-awesome/5.13.0/css/all.css}"/>
<link rel="stylesheet" th:href="@{/resources/css/shared.css}"/>

<!------ Include the above in your HEAD tag ---------->

<head>
    <title>Welcome Page</title>
    <link rel="stylesheet" th:href="@{/webjars/bootstrap/4.4.1-1/css/bootstrap.css}"/>
    <script th:src="@{/webjars/jquery/3.5.0/jquery.js}"></script>
    <script th:src="@{/webjars/bootstrap/4.4.1-1/js/bootstrap.js}"></script>
    <link rel="stylesheet" th:href="@{/webjars/font-awesome/5.13.0/css/all.css}"/>
    <link rel="stylesheet" th:href="@{/resources/css/shared.css}"/>
</head>

<body>
    <div class="container h-100">
        <div class="d-flex justify-content-center h-100">
            <div class="user_card home_card">
                <div class="d-flex justify-content-center">
                    <div class="brand_logo_container">
                        <img th:src="@{/resources/images/shopping_cart.png}" class="brand_logo" alt="Logo">
                    </div>
                </div>
                <div class="d-flex justify-content-center form_container">
                    <div class="mt-0">
                        <div class="d-flex justify-content-center links mt-5">
                            Hello there! Please select an option
                        </div>
                        <div class="d-flex justify-content-center links mt-5">
                            <a th:href="@{/login}">Login</a>
                        </div>
                        <div class="d-flex justify-content-center links mt-5">
                            <a th:href="@{/sign-up}">Sign up?</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>
