.login_card {
    height: 450px;
}

.login_btn {
    width: 100%;
    background: #c0392b !important;
    color: white !important;
}

.login_btn:focus {
    box-shadow: none !important;
    outline: 0px !important;
}

.login_container {
    padding: 0 2rem;
}

.input_user,
.input_two_factor,
.input_pass:focus {
    box-shadow: none !important;
    outline: 0px !important;
}

.input_two_factor::-webkit-input-placeholder {
    font-size: 10.5px;
}

.input_two_factor::-moz-placeholder {
    font-size: 10.5px;
}

.input_two_factor:-ms-input-placeholder {
    font-size: 10.5px;
}

.input_two_factor::placeholder {
    font-size: 10.5px;
}
