<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" lang="en">

<link rel="stylesheet" th:href="@{/webjars/bootstrap/4.4.1-1/css/bootstrap.min.css}" id="bootstrap-css"/>
<script th:src="@{/webjars/jquery/3.5.0/jquery.min.js}"></script>
<script th:src="@{/webjars/bootstrap/4.4.1-1/js/bootstrap.min.js}"></script>
<link rel="stylesheet" th:href="@{/webjars/font-awesome/5.13.0/css/all.css}"/>
<link rel="stylesheet" th:href="@{/resources/shared.css}"/>

<!------ Include the above in your HEAD tag ---------->

<head>
    <title>Forgot Password</title>
    <link rel="stylesheet" th:href="@{/webjars/bootstrap/4.4.1-1/css/bootstrap.min.css}"/>
    <script th:src="@{/webjars/jquery/3.5.0/jquery.min.js}"></script>
    <script th:src="@{/webjars/bootstrap/4.4.1-1/js/bootstrap.min.js}"></script>
    <link rel="stylesheet" th:href="@{/webjars/font-awesome/5.13.0/css/all.css}"/>
    <link rel="stylesheet" th:href="@{/resources/shared.css}"/>
    <link rel="stylesheet" th:href="@{/resources/forgot-password.css}"/>

    <script th:inline="javascript">
        $(document).ready(function () {
            $('form').submit(function (event) {
                resetPass(event);
            });
        });

        function resetPass(event) {
            event.preventDefault();

            const email = $("#email").val();

            $.post("/reset-password", {email: email}, function (data) {
                window.location.href = "/login?message=" + data.message;
            }).fail(function (data) {
                if (data.responseJSON.error.indexOf("MailError") > -1) {
                    window.location.href = "/email-error";
                } else {
                    window.location.href = "/login?message=" + data.responseJSON.message;
                }
            });
        }

        $(document).ajaxStart(function () {
            $("title").html("LOADING ...");
        });
    </script>
</head>

<body>
    <div th:if="${param.error}">
        <div th:if="${session['SPRING_SECURITY_LAST_EXCEPTION']}" th:with="errorMsg=${session['SPRING_SECURITY_LAST_EXCEPTION']}">
            <div class="alert alert-danger text-center">
                <a href="#" class="close" data-dismiss="alert" aria-label="close">X</a>
                <span th:text="${errorMsg}">Error</span>
            </div>
        </div>
    </div>

    <div th:if="${param.message}">
        <div th:if="${param.message[0]}" th:with="message=${param.message[0]}">
            <div class="alert alert-info text-center">
                <a href="#" class="close" data-dismiss="alert" aria-label="close">X</a>
                <span th:text="${message}">Message</span>
            </div>
        </div>
    </div>

    <div class="container h-100">
        <div class="d-flex justify-content-center h-100">
            <div class="user_card forgot_password_card">
                <div class="d-flex justify-content-center">
                    <div class="brand_logo_container">
                        <img th:src="@{/resources/images/shopping_cart.png}" class="brand_logo" alt="Logo">
                    </div>
                </div>

                <div class="d-flex justify-content-center form_container">
                    <form action="#">
                        <div class="input-group justify-content-center mb-3">
                            <div class="input-group-append">
                                <span class="input-group-text"><i class="fas fa-user"></i></span>
                            </div>
                            <label class="input_label">
                                <input type="email" id="email" name="email" class="form-control input_user" value="" placeholder="email" th:placeholder="#{placeholder.password}" required="required" autocomplete="username">
                                <span id="emailError" class="alert alert-danger col-sm-4" style="display:none"></span>
                            </label>
                        </div>

                        <div class="d-flex justify-content-center mt-3 forgot_password_container">
                            <button type="submit" name="submit" class="btn forgot_password_btn" th:utext="#{button.sendPasswordResetEmail}">Send password reset email</button>
                        </div>
                    </form>
                </div>

                <div class="mt-4">
                    <div class="d-flex justify-content-center links">
                        <a th:utext="#{message.noAccount}">Don't have an account? </a> <a th:href="@{/sign-up}" class="ml-2" th:utext="#{message.signUp}">Sign Up</a>
                    </div>

                    <div class="d-flex justify-content-center links">
                        <a th:href="@{/login}" th:utext="#{message.login}">Login</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>
