<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" lang="en">

<link rel="stylesheet" th:href="@{/webjars/bootstrap/4.4.1-1/css/bootstrap.css}" id="bootstrap-css"/>
<script th:src="@{/webjars/jquery/3.5.0/jquery.js}"></script>
<script th:src="@{/webjars/bootstrap/4.4.1-1/js/bootstrap.js}"></script>
<link rel="stylesheet" th:href="@{/webjars/font-awesome/5.13.0/css/all.css}"/>
<link rel="stylesheet" th:href="@{/resources/css/login/login.css}"/>
<link rel="stylesheet" th:href="@{/resources/css/shared.css}"/>

<!------ Include the above in your HEAD tag ---------->

<head>
    <title th:utext="#{pageTitle.login}">Login</title>
    <link rel="stylesheet" th:href="@{/webjars/bootstrap/4.4.1-1/css/bootstrap.css}"/>
    <script th:src="@{/webjars/jquery/3.5.0/jquery.js}"></script>
    <script th:src="@{/webjars/bootstrap/4.4.1-1/js/bootstrap.js}"></script>
    <link rel="stylesheet" th:href="@{/webjars/font-awesome/5.13.0/css/all.css}"/>
    <link rel="stylesheet" th:href="@{/resources/css/login/login.css}"/>
    <link rel="stylesheet" th:href="@{/resources/css/shared.css}"/>

    <script th:inline="javascript">
        function validate() {
            if (document.f.username.value === "" && document.f.password.value === "") {
                document.f.username.focus();
                return false;
            }

            if (document.f.username.value === "") {
                document.f.username.focus();
                return false;
            }

            if (document.f.password.value === "") {
                document.f.password.focus();
                return false;
            }
        }
    </script>
</head>

<body>
    <div th:if="${param.error}">
        <div th:if="${session['SPRING_SECURITY_LAST_EXCEPTION']}" th:with="errorMsg=${session['SPRING_SECURITY_LAST_EXCEPTION']}">
            <div class="alert alert-danger text-center">
                <a href="#" class="close" data-dismiss="alert" aria-label="close">X</a>
                <span th:text="${errorMsg}">Error</span>
            </div>
        </div>
    </div>

    <div th:if="${param.expired}">
        <div class="alert alert-danger text-center">
            <a href="#" class="close" data-dismiss="alert" aria-label="close">X</a>
            <span th:utext="#{message.sessionExpired}">Session Expired</span>
        </div>
    </div>

    <div th:if="${param.mailError}">
        <div class="alert alert-danger text-center">
            <a href="#" class="close" data-dismiss="alert" aria-label="close">X</a>
            <span th:utext="#{message.mailError}">Error</span>
        </div>
    </div>

    <div th:if="${param.message}">
        <div th:if="${param.message[0]}" th:with="message=${param.message[0]}">
            <div class="alert alert-info text-center">
                <a href="#" class="close" data-dismiss="alert" aria-label="close">X</a>
                <span th:utext="${message}">Message</span>
            </div>
        </div>
    </div>

    <div th:if="${param.loggedOut}">
        <div class="alert alert-info text-center">
            <a href="#" class="close" data-dismiss="alert" aria-label="close">X</a>
            <span th:utext="#{message.loggedOut}">Logged Out</span>
        </div>
    </div>

    <div class="container h-100">
        <div class="d-flex justify-content-center h-100">
            <div class="user_card login_card">
                <div class="d-flex justify-content-center">
                    <div class="brand_logo_container">
                        <img th:src="@{/resources/images/shopping_cart.png}" class="brand_logo" alt="Logo">
                    </div>
                </div>

                <div class="d-flex justify-content-center form_container">
                    <form name='f' action="/login" method='POST' onsubmit="return validate();">
                        <div class="input-group mb-3">
                            <div class="input-group-append">
                                <span class="input-group-text"><i class="fas fa-user"></i></span>
                            </div>
                            <label class="input_label">
                                <input type="email" name="username" class="form-control input_user" value="" placeholder="email" th:placeholder="#{placeholder.email}" required="required" autocomplete="username">
                            </label>
                        </div>

                        <div class="input-group mb-3">
                            <div class="input-group-append">
                                <span class="input-group-text"><i class="fas fa-key"></i></span>
                            </div>
                            <label class="input_label">
                                <input type="password" name="password" class="form-control input_pass" value="" placeholder="password" th:placeholder="#{placeholder.password}" required="required" autocomplete="current-password">
                            </label>
                        </div>

                        <div class="input-group mb-3">
                            <div class="input-group-append">
                                <span class="input-group-text"><i class="fas fa-key"></i></span>
                            </div>
                            <label class="input_label">
                                <input type="text" name="code" pattern="[0-9]*" class="form-control input_two_factor" value="" placeholder="Two Step Verification Code (If On)" th:placeholder="#{placeholder.twoStepVerificationCode}">
                            </label>
                        </div>

                        <div class="form-group justify-content-center mb-3">
                            <div class="custom-control custom-checkbox">
                                <input type="checkbox" class="custom-control-input" id="customControlInline" name="remember-me">
                                <label class="custom-control-label" for="customControlInline" th:utext="#{message.rememberMe}">Remember me</label>
                            </div>
                        </div>

                        <div class="d-flex justify-content-center mt-3 shared_container">
                            <button type="submit" name="submit" class="btn shared_btn" th:utext="#{button.login}">Login</button>
                        </div>
                    </form>
                </div>

                <div class="mt-4">
                    <div class="d-flex justify-content-center links">
                        <a th:utext="#{message.noAccount}">Don't have an account? </a> <a th:href="@{/sign-up}" class="ml-2" th:utext="#{message.signUp}">Sign Up</a>
                    </div>

                    <div class="d-flex justify-content-center links">
                        <a th:href="@{/forgot-password}" th:utext="#{message.forgotPassword}">Forgot your password?</a>
                    </div>

                    <div class="d-flex justify-content-center links">
                        <a href="?language=en" th:utext="#{message.englishLanguage}">English</a> <a href="?language=es_ES" class="ml-2" th:utext="#{message.spanishLanguage}">Spanish</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>
