<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" lang="en">

<link rel="stylesheet" th:href="@{/webjars/bootstrap/4.4.1-1/css/bootstrap.css}" id="bootstrap-css"/>
<link rel="stylesheet" th:href="@{/webjars/font-awesome/5.13.0/css/all.css}"/>
<link rel="stylesheet" th:href="@{/resources/css/registration/two-factor-qr.css}"/>
<link rel="stylesheet" th:href="@{/resources/css/shared.css}"/>

<script th:src="@{/webjars/jquery/3.5.0/jquery.js}"></script>
<script th:src="@{/webjars/bootstrap/4.4.1-1/js/bootstrap.js}"></script>
<script th:src="@{/webjars/popper.js/1.16.0/umd/popper.js}"></script>
<script th:src="@{/resources/js/pwstrength.js}"></script>

<!------ Include the above in your HEAD tag ---------->

<head>
    <title th:utext="#{pageTitle.twoFactorQrCode}">Two Factor QR Code</title>

    <link rel="stylesheet" th:href="@{/webjars/bootstrap/4.4.1-1/css/bootstrap.css}"/>
    <link rel="stylesheet" th:href="@{/webjars/font-awesome/5.13.0/css/all.css}"/>
    <link rel="stylesheet" th:href="@{/resources/css/registration/two-factor-qr.css}"/>
    <link rel="stylesheet" th:href="@{/resources/css/shared.css}"/>

    <script th:src="@{/webjars/jquery/3.5.0/jquery.js}"></script>
    <script th:src="@{/webjars/bootstrap/4.4.1-1/js/bootstrap.js}"></script>
    <script th:src="@{/webjars/popper.js/1.16.0/umd/popper.js}"></script>
    <script th:src="@{/resources/js/pwstrength.js}"></script>
</head>
<body>
    <div th:if="${param.error}">
        <div th:if="${session['SPRING_SECURITY_LAST_EXCEPTION']}" th:with="errorMsg=${session['SPRING_SECURITY_LAST_EXCEPTION']}">
            <div class="alert alert-danger text-center">
                <a href="#" class="close" data-dismiss="alert" aria-label="close">X</a>
                <span th:text="${errorMsg}">Error</span>
            </div>
        </div>
    </div>

    <div th:if="!${param.qr}">
        <div class="alert alert-danger text-center">
            <a href="#" class="close" data-dismiss="alert" aria-label="close">X</a>
            <span th:utext="#{message.missingQrCode}">A QR Code URL is needed for this page to work.</span>
        </div>
    </div>

    <div th:if="${param.message}">
        <div th:if="${param.message[0]}" th:with="message=${param.message[0]}">
            <div class="alert alert-info text-center">
                <a href="#" class="close" data-dismiss="alert" aria-label="close">X</a>
                <span th:text="${message}">Message</span>
            </div>
        </div>
    </div>

    <div class="container h-100">
        <div class="d-flex justify-content-center h-100">
            <div class="user_card two_factor_card">
                <div class="d-flex justify-content-center">
                    <div class="brand_logo_container">
                        <img th:src="@{/resources/images/shopping_cart.png}" class="brand_logo" alt="Logo">
                    </div>
                </div>

                <div class="d-flex justify-content-center form_container">
                    <div class="input-group justify-content-center mb-2">
                        <label class="input_label" th:if="${param.qr}">
                            <img th:src="${param.qr}" class="justify-content-center"/>

                            <p>Scan this Barcode using Google Authenticator app on your phone to use it later in login
                                <a href="https://play.google.com/store/apps/details?id=com.google.android.apps.authenticator2">Android</a> and
                                <a href="https://itunes.apple.com/us/app/google-authenticator/id388497605">iPhone</a>
                            </p>
                        </label>
                    </div>
                </div>

                <div class="mt-4">
                    <div class="d-flex justify-content-center links">
                        <a th:utext="#{message.noAccount}">Don't have an account? </a> <a th:href="@{/sign-up}" class="ml-2" th:utext="#{message.signUp}">Sign Up</a>
                    </div>

                    <div class="d-flex justify-content-center links">
                        <a th:href="@{/login}" th:utext="#{message.login}">Login</a>
                    </div>

                    <div class="d-flex justify-content-center links">
                        <a href="?language=en" th:utext="#{message.englishLanguage}">English</a> <a href="?language=es_ES" class="ml-2" th:utext="#{message.spanishLanguage}">Spanish</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>
